<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specialty</title>
</head>
<body>
    <h1>Список спеціальностей</h1>

    <ul>
        {% if specialtys %}
            {% for user in specialtys %}
                <li>{{ user.name_faculty }} - {{ user.faculty_code }}</li>
            {% endfor %}
        {% else %}
            <li>Немає факультетів у базі</li>
        {% endif %}
    </ul>
</body>
</html>